<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/styles.css}" />
<script type="text/javascript" th:src="@{/js/main.js}" ></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
				aria-controls="navbarTogglerDemo01" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
				<a class="navbar-brand" href="/home">Bank Application</a>
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link"
						aria-current="page" href="/newcustomer">New Customer</a></li>
					<li class="nav-item"><a class="nav-link" href="/viewcustomer">View
							Customers</a></li>
				</ul>
				<button class="btn btn-outline-success" onclick="logout()">Logout</button>
			</div>
		</div>
	</nav>
	<div class="viewCustomerPanel card">
		<h1>Customer Information</h1>
		<hr/>
		<table id="t1" border="0" class="table table-striped">
			<thead>
				<tr>
					<td>#</td>
					<td>CIF No</td>
					<td>Account No</td>
					<td>Name</td>
					<td>DoB</td>
					<td>Qualification</td>
					<td>Gender</td>
					<td>Aadhaar No</td>
					<td>PAN No</td>
					<td>Address</td>
					<td>Father Name</td>
					<td>Mother Name</td>
					<td>Guardian Name</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="customer : ${customers}">
					<td th:text="${customer.cid}"></td>
					<td th:text="${customer.customerNo}"></td>
					<td th:text="${customer.customerAccNo}"></td>
					<td th:text="${customer.customerName}"></td>
					<td th:text="${customer.dob}"></td>
					<td th:text="${customer.qualification}"></td>
					<td th:text="${customer.gender}"></td>
					<td th:text="${customer.aadhaarNo}"></td>
					<td th:text="${customer.panNo}"></td>
					<td th:text="${customer.address}"></td>
					<td th:text="${customer.fatherName}"></td>
					<td th:text="${customer.motherName}"></td>
					<td th:text="${customer.guardianName}"></td>
				</tr>
				<th:block th:if="${#strings.isEmpty(customers)}">
				<tr><td colspan="13">No Records Found</td></tr>
				</th:block>
			</tbody>
		</table>
	</div>
</body>